# SimResults To Wiki Table Utility

In [9]:
import pandas as pd

In [10]:
drivers_table_file = "drivers_table.csv"
points_table_file = "points_table.csv"

In [11]:
race_name = "nurb"
simresults_code = "190916-3Oj"

results_file = "{}/{}.csv".format(race_name, simresults_code)
output_file = "{}/wiki_tables.txt".format(race_name)

simresults_url = "https://simresults.net/{}".format(simresults_code)

### Driver and Points Info Parse

In [12]:
drivers_table = pd.read_csv(drivers_table_file, dtype=object)
# drivers_table

In [13]:
points_table = pd.read_csv(points_table_file, dtype=object)
# points_table

### Results Tables Parse

In [14]:
table_keys = ["q1", "r1", "q2", "r2"]

table_names = ["Qualify 1 result", "Race 1 result", "Qualify 2 result", "Race 2 result"]
names = dict(zip(table_keys, table_names))

rows = {key: [0,0] for key in table_keys}

with open(results_file) as fp:
    current_table = ""
    for i, row in enumerate(fp):
        if current_table and row=="\n":
            rows[current_table][1] = i-2
            print("{}".format(rows[current_table][1]))
            current_table = ""
        else:
            for key in table_keys:
                if row.startswith(names[key]):
                    current_table = key
                    rows[current_table][0] = i+1
                    print("found table {} in lines {} to ".format(names[key], rows[current_table][0]), end="")

found table Qualify 1 result in lines 187 to 199
found table Race 1 result in lines 400 to 412
found table Qualify 2 result in lines 891 to 903
found table Race 2 result in lines 1107 to 1119

In [15]:
# MANUAL ADJUSTMENT :/

rows["q2"] = [i-1 for i in rows["q2"]]
rows["r2"] = [i-1 for i in rows["r2"]]

In [16]:
tables = {}

for key in table_keys:
    table_skiprows = rows[key][0]
    table_nrows = rows[key][1] - table_skiprows
    table_df = pd.read_csv(results_file, skiprows=table_skiprows, nrows=table_nrows, index_col=False, dtype=object)
    table_df = table_df.apply(lambda s: s.str.strip(' \'"'), axis=1)
    table_df.columns = table_df.columns.str.strip(' \'"')
    
    print(names[key])
    display(table_df)
    tables[key] = table_df

Qualify 1 result

,Pos,Class,Team,Vehicle,Driver,Laps,Best lap,Gap
0,1,,,urd_t5_maures_2018,McLarenTim,7,01:20.4070,-
1,2,,,urd_t5_maures_2018,PhotonBurst,7,01:20.5560,00:00.1490
2,3,,,urd_t5_bayro_2018,gunciz,6,01:21.5780,00:01.1710
3,4,,,urd_t5_aura_2018,xPsychedelix,7,01:21.8980,00:01.4910
4,5,,,urd_t5_bayro_2018,MrGrinder,6,01:22.1850,00:01.7780
5,6,,,urd_t5_bayro_2018,NihonTiger,4,01:23.0380,00:02.6310
6,7,,,urd_t5_aura_2018,Viperion_NZ,5,01:23.2170,00:02.8100
7,8,,,urd_t5_bayro_2018,Jekay,0,-,-
8,9,,,urd_t5_bayro_2018,maestro,0,-,-
9,10,,,urd_t5_maures_2018,Trempale,0,-,-
10,11,,,urd_t5_bayro_2018,bacsi97,0,-,-
11,12,,,ford_transit,Broadcast,0,-,-

Race 1 result

,Pos,Class,Team,Vehicle,Driver,Laps,Time/Retired,Best lap,Consistency,Led,Pits,Unnamed: 11
0,1,,,urd_t5_maures_2018,McLarenTim,23,31:44.1670,01:20.9660,99.33%,22,0,
1,2,,,urd_t5_maures_2018,PhotonBurst,23,+00:04.8170,01:20.9030,99.02%,0,0,
2,3,,,urd_t5_bayro_2018,MrGrinder,23,+00:34.1070,01:22.1110,99.09%,0,0,
3,4,,,urd_t5_aura_2018,xPsychedelix,23,+00:50.7820,01:22.0300,98.18%,0,0,
4,5,,,urd_t5_bayro_2018,gunciz,23,+00:53.4300,01:21.7070,98.69%,0,0,
5,6,,,urd_t5_bayro_2018,NihonTiger,23,+01:23.0540,01:23.4820,98.27%,0,0,
6,7,,,urd_t5_aura_2018,Viperion_NZ,22,+02:14.2280,01:23.5600,97.06%,0,0,
7,8,,,urd_t5_bayro_2018,Jekay,0,DNF,-,-,0,0,
8,9,,,urd_t5_bayro_2018,maestro,0,DNF,-,-,0,0,
9,10,,,urd_t5_maures_2018,Trempale,0,DNF,-,-,0,0,
10,11,,,urd_t5_bayro_2018,bacsi97,0,DNF,-,-,0,0,
11,12,,,ford_transit,Broadcast,0,DNF,-,-,0,0,

Qualify 2 result

,Pos,Class,Team,Vehicle,Driver,Laps,Best lap,Gap
0,1,,,urd_t5_maures_2018,PhotonBurst,7,01:20.4470,-
1,2,,,urd_t5_maures_2018,McLarenTim,6,01:20.6540,00:00.2070
2,3,,,urd_t5_bayro_2018,MrGrinder,6,01:21.5080,00:01.0610
3,4,,,urd_t5_bayro_2018,gunciz,7,01:21.6140,00:01.1670
4,5,,,urd_t5_aura_2018,xPsychedelix,6,01:22.2110,00:01.7640
5,6,,,urd_t5_aura_2018,Viperion_NZ,6,01:22.5040,00:02.0570
6,7,,,urd_t5_bayro_2018,NihonTiger,7,01:23.0590,00:02.6120
7,8,,,urd_t5_bayro_2018,Jekay,0,-,-
8,9,,,urd_t5_bayro_2018,maestro,0,-,-
9,10,,,urd_t5_maures_2018,Trempale,0,-,-
10,11,,,urd_t5_bayro_2018,bacsi97,0,-,-
11,12,,,ford_transit,Broadcast,0,-,-

Race 2 result

,Pos,Class,Team,Vehicle,Driver,Laps,Time/Retired,Best lap,Consistency,Led,Pits,Unnamed: 11
0,1,,,urd_t5_maures_2018,PhotonBurst,23,31:42.6580,01:20.8400,99.32%,22,0,
1,2,,,urd_t5_maures_2018,McLarenTim,23,+00:01.6610,01:20.6200,98.96%,0,0,
2,3,,,urd_t5_bayro_2018,gunciz,23,+00:27.9290,01:21.6580,98.91%,0,0,
3,4,,,urd_t5_bayro_2018,MrGrinder,23,+00:28.7420,01:21.6560,99.06%,0,0,
4,5,,,urd_t5_aura_2018,xPsychedelix,23,+00:32.0950,01:21.3530,98.46%,0,0,
5,6,,,urd_t5_aura_2018,Viperion_NZ,23,+00:53.5780,01:22.8260,99.09%,0,0,
6,7,,,urd_t5_bayro_2018,NihonTiger,23,+01:08.1920,01:22.7790,98.43%,0,0,
7,8,,,urd_t5_bayro_2018,Jekay,0,DNF,-,-,0,0,
8,9,,,urd_t5_bayro_2018,maestro,0,DNF,-,-,0,0,
9,10,,,urd_t5_maures_2018,Trempale,0,DNF,-,-,0,0,
10,11,,,urd_t5_bayro_2018,bacsi97,0,DNF,-,-,0,0,
11,12,,,ford_transit,Broadcast,0,DNF,-,-,0,0,

### Wiki Table Printing

In [17]:
qualy_row_0 = """(% border="1" style="width:554px" %)"""
qualy_row_1 = """|=(% scope="row" style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 41px; text-align: center;" %)Pos|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 44px; text-align: center;" %)No|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 155px; text-align: center;" %)Driver|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 233px; text-align: center;" %)Team|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 77px; text-align: center;" %)Time"""
qualy_row = """|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); text-align: center; width: 41px;" %){}|(% style="border-color:#000000; text-align:center; width:44px" %){}|(% style="border-color:#000000; width:155px" %)[[image:{}||height="14" width="23"]] {}|(% style="border-color:#000000; width:233px" %){}|(% style="border-color:#000000; width:77px" %){}"""
qualy_row_last = """|=(% colspan="5" style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); text-align: center; width: 552px;" %)[[Source>>{}]]"""

In [18]:
race_row_0 = """(% border="1" style="width:747px" %)"""
race_row_1 = """|=(% scope="row" style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 41px; text-align: center;" %)Pos|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 44px; text-align: center;" %)No|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 155px; text-align: center;" %)Driver|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 229px; text-align: center;" %)Team|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 44px; text-align: center;" %)Laps|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 111px; text-align: center;" %)Time/Retired|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 53px; text-align: center;" %)Grid|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); width: 62px; text-align: center;" %)Points"""
race_row = """|=(% style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); text-align: center; width: 41px;" %){}|(% style="border-color:#000000; text-align:center; width:44px" %){}|(% style="border-color:#000000; width:155px" %)[[image:{}||height="14" width="23"]] {}|(% style="border-color:#000000; width:233px" %){}|(% style="border-color:#000000; width:44px" %){}|(% style="border-color:#000000; width:111px" %){}|(% style="border-color:#000000; width:53px" %){}|(% style="border-color:#000000; width:62px" %){}"""
race_row_last = """|=(% colspan="8" style="border-color: rgb(0, 0, 0); background-color: rgb(234, 236, 240); text-align: center; width: 745px;" %)[[Source>>{}]]"""
race_row_fastestlap = """Fastest lap: //{} ({}) - {}//"""

In [19]:
def make_qualy_table(table_key):
    
    table_name, table_df = names[key], tables[key]
    
    lines_buffer = [table_name, qualy_row_0, qualy_row_1]
    
    for _, df_row in table_df.iterrows():
        
        if int(df_row["Laps"])==0:
            continue
        
        driver = df_row["Driver"]

        driver_info = drivers_table.loc[drivers_table["ign"]==driver]
        assert len(driver_info)==1, "Error looking up {} in drivers_table".format(driver)
        
        position = df_row["Pos"]
        number = driver_info["number"].item()
        flag = driver_info["flag"].item()
        name = driver_info["name"].item()
        team = driver_info["team"].item()
        time = df_row["Best lap"]
        if int(position)==1:
            time = "**{}**".format(time)
            
        # print(position, number, flag, name, team, time)
        line = qualy_row.format(position, number, flag, name, team, time)
        lines_buffer.append(line)
    
    lines_buffer.append(qualy_row_last.format(simresults_url))
    
    print("made {} rows for table: {}".format(len(lines_buffer), table_name))
    return lines_buffer



def make_race_table(table_key, points_table):
    
    table_name, table_df = names[key], tables[key]
    
    lines_buffer = [table_name, race_row_0, race_row_1]
    
    for _, df_row in table_df.iterrows():
        
        if int(df_row["Laps"])==0:
            continue
        
        driver = df_row["Driver"]

        driver_info = drivers_table.loc[drivers_table["ign"]==driver]
        assert len(driver_info)==1, "Error looking up {} in drivers_table".format(driver)
        
        position = df_row["Pos"]
        number = driver_info["number"].item()
        flag = driver_info["flag"].item()
        name = driver_info["name"].item()
        team = driver_info["team"].item()
        laps = df_row["Laps"]
        timeorretired = df_row["Time/Retired"]
        
        session_num = table_key[1:]
        qualy_table = tables["q" + session_num]
        grid = qualy_table.loc[qualy_table["Driver"]==driver]["Pos"].item()
        points = 0
        if (int(position)<=15):
            points = points_table.loc[points_table["pos"]==position]["points"].item()
            
        # print(position, number, flag, name, team, laps, timeorretired, grid, points)
        line = race_row.format(position, number, flag, name, team, laps, timeorretired, grid, points)
        lines_buffer.append(line)
    
    lines_buffer.append(race_row_last.format(simresults_url))
    
    table_df_withtimes = table_df.copy()
    table_df_withtimes["Best lap"] = pd.to_datetime(table_df_withtimes["Best lap"], format="%M:%S.%f", errors='coerce')
    fastest_driver = table_df.loc[table_df_withtimes["Best lap"]==table_df_withtimes["Best lap"].min()].iloc[0]["Driver"]
    fastest_time = table_df.loc[table_df["Driver"]==fastest_driver]["Best lap"].item()
    fastest_driver_team = drivers_table.loc[drivers_table["ign"]==fastest_driver].iloc[0]["team"]
    lines_buffer.append(race_row_fastestlap.format(fastest_driver, fastest_driver_team, fastest_time))
    
    print("made {} rows for table: {}".format(len(lines_buffer), table_name))
    return lines_buffer

In [20]:
tables_lines = {}

for key in table_keys:
    if key.startswith("q"):
        tables_lines[key] = make_qualy_table(key)
    elif key.startswith("r"):
        tables_lines[key] = make_race_table(key, points_table)

made 11 rows for table: Qualify 1 result
made 12 rows for table: Race 1 result
made 11 rows for table: Qualify 2 result
made 12 rows for table: Race 2 result

In [21]:
with open(output_file, "w+") as fp:
    for key in table_keys:
        if key in tables_lines:
            fp.write("\n".join(tables_lines[key]) + "\n\n")